<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleForiOS</key>
	<string>手机端使用帮助</string>
	<key>titleForWindows</key>
	<string>电脑端使用帮助</string>
	<key>itemsForiOS</key>
	<array>
		<dict>
			<key>title</key>
			<string>控制中心</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设备列表</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电池信息</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>服务器设置</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>消息设置</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
	</array>
	<key>itemsForWindows</key>
	<array>
		<dict>
			<key>title</key>
			<string>下载地址</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>控制模式</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>服务器配置</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>控制权限</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>消息推送</string>
			<key>url</key>
			<string>UIViewController</string>
		</dict>
	</array>
</dict>
</plist>
